*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: url('safe.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


header{
    height: 10vh;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    color:rgb(39, 34, 34);
}



main {
    /* background-color: blue; */
    height: 85vh;
    position: relative;
}

footer{
    height: 5vh;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#money{
    font-size: 55px;
    position: absolute;
    left: 45%;
    animation: spin 2s linear infinite;
}

#player{

    font-size: 30px;

    position: absolute;
    bottom: 5px;
    left:45%;

    width: 130px;
    text-align: center;
    /* background-color: aqua; */
    /* display: flex; */
}




@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}