*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #2A7B9B;
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.game{
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap:20px;
    width: 400px;
}

img{
    width: 100%;
    border-radius: 20px;
    filter: blur(17px);
}

input{
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}